body {
    background-repeat: no-repeat;
    background-size: cover;
}

.no-margin {
    margin: 0;
}

.text-bold {
    font-weight: bold;
}

.highlight {
    font-weight: bold;
    background-color:rgba(0,255,0,0.4) !important;
}

.active {
    color: green;
}
.active:active {
    background-color: darkgreen;
    color: white;
    font-weight: bold;
}

.inactive {
    color: red;
}
.inactive:active {
    color: white;
    font-weight: bold;
    background-color: darkred;
}

.prayer-item {
    padding: 5px;
    font-size: 20pt;
    background-color: rgba(0,50,80,0.8);
    font-weight: bold;
}
